
.header h2 {
    margin: 0;
    padding: 10px 0 20px 10px;
}


.side-bar a {
    display: block;
    padding: 30px 0 30px 10px;
    transition: all 0.3s linear;
    -moz-transition:all 0.3s linear; /* Firefox 4 */
    -webkit-transition:all 0.3s; linear /* Safari and Chrome */
    -o-transition:all 0.3s linear; /* Opera */
}
.side-bar a:hover{
    border-left: 8px solid green;
    background-color: #1b1e21;
    transition: all 0.3s linear;
    -moz-transition:all 0.3s linear; /* Firefox 4 */
    -webkit-transition:all 0.3s; linear /* Safari and Chrome */
    -o-transition:all 0.3s linear; /* Opera */

}

nav a span {
    transition: border 0.4s;
    -moz-transition:border 0.4s; /* Firefox 4 */
    -webkit-transition:border 0.4s; /* Safari and Chrome */
    -o-transition:border 0.4s; /* Opera */
}
nav a:hover span {
    border-top: 2px solid white;
    border-bottom: 2px solid white;

}

.new-active {
    border-left: 8px solid green;
    background-color: #1b1e21;
}

img.hover-opacity {
    opacity:0.6;
    filter:alpha(opacity=60);
    transition: all 0.2s linear;
    -moz-transition:all 0.2s linear; /* Firefox 4 */
    -webkit-transition:all 0.2s; linear /* Safari and Chrome */
-o-transition:all 0.2s linear; /* Opera */
}

img.hover-opacity:hover {
    opacity:1;
    filter:alpha(opacity=100);
    transition: all 0.2s linear;
    -moz-transition:all 0.2s linear; /* Firefox 4 */
    -webkit-transition:all 0.2s; linear /* Safari and Chrome */
    -o-transition:all 0.2s linear; /* Opera */
}